body {
  background-color: #FFF8F5;
}
.buttons {
  background: linear-gradient(180deg, #FFA992 0%, #FF7852 65%);
  box-shadow: 0px 10px 25px rgba(255, 124, 84, 0.3);
  border-radius: 30px;
  border: none;
  color: #FFF;
  text-transform: capitalize;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  height: 60px;
}
.buttons:hover {
  cursor: pointer;
}
.buttons:active {
  background: linear-gradient(180deg, #FFA992 0%, #FF7852 65%);
  box-shadow: 10px 20px 35px rgba(255, 124, 84, 0.3);
}
header {
  display: flex;
  justify-content: space-between;
  width: 78%;
  margin: auto;
  padding-top: 50px;
}
header button {
  width: 228px;
}
header .nav-bar {
  display: flex;
  margin-top: 16px;
}
header .nav-bar li {
  margin-left: 55px;
  text-transform: capitalize;
  color: #242851;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
}
header .nav-bar li a {
  color: #242851;
  text-decoration: none;
}
header .nav-bar li:first-child {
  margin-left: 0;
}
.first-block {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  margin-top: 130px;
  width: 90%;
  position: relative;
}
.first-block p {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
  padding-bottom: 60px;
  color: #707283;
}
.first-block section {
  width: 37%;
  position: relative;
}
.first-block section img {
  position: relative;
}
.first-block h1 {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  font-size: 80px;
  line-height: 120px;
  color: #242851;
  padding: 74px 0 30px 0;
}
.first-block button:first-of-type {
  width: 188px;
}
.first-block .green-button {
  width: 246px;
  height: 60px;
  background: linear-gradient(180deg, #C3E48F 0%, #8EC637 65%);
  box-shadow: 0px 20px 35px rgba(125, 181, 35, 0.3);
  border-radius: 30px;
  border: none;
  color: #FFF;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  text-transform: capitalize;
  margin-left: 20px;
  margin-bottom: 203px;
}
.first-block .green-button:hover {
  cursor: pointer;
}
.first-block .green-button:active {
  background: linear-gradient(180deg, #C3E48F 0%, #8EC637 65%);
  box-shadow: 10px 10px 25px rgba(125, 181, 35, 0.3);
}
.first-block img {
  position: absolute;
}
.first-block .ellipse {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #FFCDB8;
  filter: blur(200px);
  top: 0px;
  z-index: -1;
  border-radius: 50%;
}
.first-block #up {
  display: none;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  color: white;
  border-radius: 10px;
  background: linear-gradient(180deg, #FFA992 0%, #FF7852 65%);
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
}
.first-block #up:hover {
  cursor: pointer;
}
.first-block #up:active {
  background: linear-gradient(180deg, #FFA992 0%, #FF7852 65%);
  box-shadow: 10px 20px 35px rgba(255, 124, 84, 0.3);
}
.second-block {
  width: 78%;
  background-color: #FFECE4;
  margin: auto;
  display: flex;
  flex-direction: column;
  border-radius: 50px;
}
.second-block section:first-of-type {
  text-align: center;
  display: block;
  padding: 100px 0 60px 0;
}
.second-block section:first-of-type p {
  color: #FF7751;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 27px;
}
.second-block h2 {
  color: #242851;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 87px;
}
.second-block h3 {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  line-height: 35px;
  color: #242851;
  margin-bottom: 20px;
}
.second-block section {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  padding-bottom: 100px;
}
.second-block section #pet-grooming:hover {
  background: linear-gradient(180deg, #B8DEFF 0%, #1D97FF 100%);
  box-shadow: 0px 12px 25px rgba(72, 171, 255, 0.25);
}
.second-block section #pet-grooming:hover .first-circle {
  background: linear-gradient(180deg, white 0%, white 100%);
  box-shadow: 0px 12px 25px rgba(72, 171, 255, 0.25);
  color: #1D97FF;
}
.second-block section #pet-grooming:hover h3 {
  color: #FFF;
}
.second-block section #pet-grooming:hover p {
  color: #FFF;
}
.second-block section #veterinary:hover {
  background: linear-gradient(180deg, #FFBBA9 0%, #FF6236 100%);
  box-shadow: 0px 12px 25px rgba(72, 171, 255, 0.25);
}
.second-block section #veterinary:hover .second-circle {
  background: linear-gradient(180deg, white 0%, white 100%);
  box-shadow: 0px 12px 25px rgba(72, 171, 255, 0.25);
  color: #FF6236;
}
.second-block section #veterinary:hover h3 {
  color: #FFF;
}
.second-block section #veterinary:hover p {
  color: #FFF;
}
.second-block section #dog-setting:hover {
  background: linear-gradient(180deg, #FFE4AA 0%, #FF9C07 100%);
  box-shadow: 0px 12px 25px rgba(72, 171, 255, 0.25);
}
.second-block section #dog-setting:hover .third-circle {
  background: linear-gradient(180deg, white 0%, white 100%);
  box-shadow: 0px 12px 25px rgba(72, 171, 255, 0.25);
  color: #FF9C07;
}
.second-block section #dog-setting:hover h3 {
  color: #FFF;
}
.second-block section #dog-setting:hover p {
  color: #FFF;
}
.second-block section #healthy-meals:hover {
  background: linear-gradient(180deg, #AFE6EB 0%, #36BECB 100%);
  box-shadow: 0px 12px 25px rgba(72, 171, 255, 0.25);
}
.second-block section #healthy-meals:hover .fourth-circle {
  background: linear-gradient(180deg, white 0%, white 100%);
  box-shadow: 0px 12px 25px rgba(72, 171, 255, 0.25);
  color: #36BECB;
}
.second-block section #healthy-meals:hover h3 {
  color: #FFF;
}
.second-block section #healthy-meals:hover p {
  color: #FFF;
}
.second-block section div {
  width: 20%;
  background-color: #FFF;
  border-radius: 30px;
}
.second-block section div p {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #707283;
  margin: 0 40px 50px 40px;
}
.second-block .circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 35px;
  color: #FFF;
}
.second-block .circle .fas {
  padding-top: 25px;
}
.second-block .first-circle {
  background: linear-gradient(180deg, #B8DEFF 0%, #1D97FF 100%);
  box-shadow: 0px 12px 25px rgba(72, 171, 255, 0.25);
}
.second-block .second-circle {
  background: linear-gradient(180deg, #FFBBA9 0%, #FF6236 100%);
  box-shadow: 0px 12px 25px rgba(255, 122, 85, 0.3);
}
.second-block .third-circle {
  background: linear-gradient(180deg, #FFE4AA 0%, #FF9C07 100%);
  box-shadow: 0px 12px 25px rgba(250, 168, 45, 0.3);
}
.second-block .fourth-circle {
  background: linear-gradient(180deg, #AFE6EB 0%, #36BECB 100%);
  box-shadow: 0px 12px 25px rgba(17, 199, 217, 0.3);
}
.third-block {
  width: 80%;
  margin: auto;
  display: flex;
  margin-top: 104px;
  justify-content: space-evenly;
}
.third-block p:first-of-type {
  color: #FF7751;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 27px;
  padding-top: 75px;
}
.third-block p {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #707283;
}
.third-block h2 {
  color: #242851;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 87px;
  margin: 10px 0 30px 0;
}
.third-block li {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #242851;
  padding-top: 25px;
}
.third-block li i {
  color: #FF7751;
  margin-right: 10px;
}
.third-block button {
  width: 268px;
  margin: 46px 0 49px 0;
}
.third-block img:first-of-type {
  position: relative;
}
.third-block img {
  position: absolute;
}
.third-block .ellipse {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #FFCDB8;
  filter: blur(200px);
  top: 0px;
  z-index: -1;
  border-radius: 50%;
}
.fourth-block {
  width: 78%;
  background-color: #FFECE4;
  margin: auto;
  display: flex;
  flex-direction: column;
  border-radius: 50px;
  margin-top: 130px;
}
.fourth-block section:first-of-type {
  text-align: center;
  display: block;
  padding: 100px 0 60px 0;
}
.fourth-block section:first-of-type p {
  color: #FF7751;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 27px;
}
.fourth-block h2 {
  color: #242851;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 87px;
}
.fourth-block h3 {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  color: #242851;
  margin: 30px 0 7px 0;
}
.fourth-block section {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  padding-bottom: 100px;
}
.fourth-block section div {
  width: 20%;
  background-color: #FFF;
  border-radius: 30px;
  border-radius: 50%;
}
.fourth-block section div p {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #FF7751;
  margin: 0 40px 50px 40px;
}
.fourth-block section div img {
  border-radius: 96px;
  margin-top: 50px;
}
.fourth-block .first-circle {
  background: linear-gradient(180deg, #B8DEFF 0%, #1D97FF 100%);
  box-shadow: 0px 12px 25px rgba(72, 171, 255, 0.25);
}
.fourth-block .second-circle {
  background: linear-gradient(180deg, #FFBBA9 0%, #FF6236 100%);
  box-shadow: 0px 12px 25px rgba(255, 122, 85, 0.3);
}
.fourth-block .third-circle {
  background: linear-gradient(180deg, #FFE4AA 0%, #FF9C07 100%);
  box-shadow: 0px 12px 25px rgba(250, 168, 45, 0.3);
}
.fourth-block .fourth-circle {
  background: linear-gradient(180deg, #AFE6EB 0%, #36BECB 100%);
  box-shadow: 0px 12px 25px rgba(17, 199, 217, 0.3);
}
.fifth-block {
  width: 67%;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  margin-top: 130px;
  margin-bottom: 130px;
  text-align: center;
  position: relative;
}
.fifth-block h3 {
  color: #242851;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 38px;
  padding: 60px 0 5px 0;
}
.fifth-block h2 {
  color: #242851;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 68px;
  margin-bottom: 25px;
}
.fifth-block li {
  color: #707283;
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  padding-top: 25px;
}
.fifth-block .exclusive {
  width: 36%;
  background: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 100%);
  box-shadow: 0px 12px 25px rgba(217, 200, 193, 0.3);
  border-radius: 20px;
}
.fifth-block section {
  background: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 100%);
  box-shadow: 0px 12px 25px rgba(217, 200, 193, 0.3);
  border-radius: 20px 0 0 20px;
  width: 36%;
}
.fifth-block section h2:last-of-type {
  color: #FF7751;
  margin: 50px 0 59px 0;
}
.fifth-block section h2:last-of-type span {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 27px;
}
.fifth-block section button {
  width: 214px;
  margin-bottom: 60px;
}
.fifth-block section:hover {
  background: linear-gradient(180deg, #FFA389 0%, #FF6439 100%);
  box-shadow: 0px 15px 40px rgba(255, 103, 61, 0.3);
}
.fifth-block section:hover h2 {
  color: #FFF;
}
.fifth-block section:hover h3 {
  color: #FFF;
}
.fifth-block section:hover li {
  color: #FFF;
}
.fifth-block section:hover button {
  background: linear-gradient(180deg, white 0%, white 65%);
  box-shadow: 0px 10px 25px rgba(255, 124, 84, 0.3);
  color: #FF6439;
}
.fifth-block section:hover button:active {
  background: linear-gradient(180deg, white 0%, white 65%);
  box-shadow: 10px 20px 35px rgba(255, 255, 255, 0.3);
}
.fifth-block section:last-of-type {
  border-radius: 0 20px 20px 0;
}
.fifth-block img {
  position: absolute;
}
.sixth-block {
  display: flex;
  width: 78%;
  margin: auto;
  background: #FFECE4;
  border-radius: 50px;
  justify-content: space-around;
}
.sixth-block section:first-of-type {
  width: 44%;
}
.sixth-block h2 {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 87px;
  color: #000000;
  margin: 102px 0 30px 0;
}
.sixth-block p {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #707283;
  margin-bottom: 50px;
}
.sixth-block button {
  width: 221px;
  margin-bottom: 102px;
}
.sixth-block section:last-of-type {
  margin-top: 65px;
  margin-bottom: 39px;
  position: relative;
  z-index: 0;
}
.sixth-block section:last-of-type .ellipse {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #FFCDB8;
  filter: blur(200px);
  top: 0px;
  z-index: -1;
  border-radius: 50%;
  background: #FF9E75;
}
.sixth-block section:last-of-type img:first-of-type {
  position: relative;
}
.sixth-block section:last-of-type img {
  position: absolute;
}
footer {
  width: 67%;
  margin: auto;
  margin-top: 130px;
  position: relative;
}
footer p {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #707283;
  text-align: center;
  margin-bottom: 30px;
}
footer section {
  display: flex;
  justify-content: space-between;
}
footer section p {
  margin-top: 25px;
  margin-bottom: 30px;
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #707283;
  text-align: left;
}
footer section h3 {
  color: #242851;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 38px;
  margin-bottom: 25px;
}
footer section li {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #707283;
  margin-bottom: 15px;
}
footer section div:first-of-type {
  width: 32%;
}
footer section form {
  display: inline-block;
  position: relative;
  margin-bottom: 130px;
}
footer section form input {
  width: 394px;
  height: 60px;
  background: #FFFFFF;
  box-shadow: 0px 12px 35px rgba(210, 197, 192, 0.25);
  border-radius: 30px;
  border: none;
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #707283;
  padding-left: 30px;
  outline: none;
}
footer section form .btn-footer {
  position: absolute;
  width: 143px;
  height: 50px;
  right: 0;
  margin: 5px;
}
