@background-color: #FFF8F5;
@dark-blue-color: #242851;
@gray-color: #707283;
@orange-color: #FF7751;
@white-color: #FFF;
@table-color: #FFECE4;
@wrapper: 78%;



body {
    background-color: @background-color;
}
.margin-auto() {
    margin: auto;
}
.font(@font-family, @font-style, @font-weight, @font-size, @line-height){
    font-family: @font-family;
    font-style: normal;
    font-weight: @font-weight;
    font-size: @font-size;
    line-height: @line-height;
}
.background-grad(@color1,@color2, @r, @g, @b, @opacity) {
    background: linear-gradient(180deg, @color1 0%, @color2 100%);
    box-shadow: 0px 12px 25px rgba(@r, @g, @b, @opacity);
}
.orange-buttons() {
    background: linear-gradient(180deg, #FFA992 0%, #FF7852 65%);
    box-shadow: 0px 10px 25px rgba(255, 124, 84, 0.3);
    border-radius: 30px;
    border: none;
    color: @white-color;
    text-transform: capitalize;
    .font('Nunito', normal, 700, 20px, 27px);
    height: 60px;
}
.ellipse() {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #FFCDB8;
    filter: blur(200px);
    top: 0px;
    z-index: -1;
    border-radius: 50%;
}
.white-color(@tag) {
    @{tag} {
        color: @white-color;
    }
}
.buttons {
    .orange-buttons;
    &:hover {
        cursor: pointer;
    }
    &:active {
        background: linear-gradient(180deg, #FFA992 0%, #FF7852 65%);
        box-shadow: 10px 20px 35px rgba(255, 124, 84, 0.3);
    }
}
header {
    display: flex;
    justify-content: space-between;
    width: @wrapper;
    .margin-auto;
    padding-top: 50px;
    & button {
        width: 228px;
    }
    & .nav-bar {
        display: flex;
        margin-top: 16px;
        & li {
            margin-left: 55px;
            text-transform: capitalize;
            color: @dark-blue-color;
            .font('Nunito', normal, 600, 20px, 27px);
            & a {
                color: @dark-blue-color;
                text-decoration: none;
            }
        }
        & li:first-child {
            margin-left: 0;
        } 
    }
}
.first-block {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 130px;
    width: 90%;
    position: relative;
    & p {
        .font('Quicksand', normal, 400, 22px, 34px);
        padding-bottom: 60px;
        color: @gray-color;
    }
    & section {
        width: 37%;
        position: relative;
        & img {
            position: relative;
        }
    }
    & h1 {
        .font('Nunito', normal, 800, 80px, 120px);
        color: @dark-blue-color;
        padding: 74px 0 30px 0;
    }
    & button:first-of-type {
        width: 188px;
    }
    & .green-button {
        width: 246px;
        height: 60px;
        background: linear-gradient(180deg, #C3E48F 0%, #8EC637 65%);
        box-shadow: 0px 20px 35px rgba(125, 181, 35, 0.3);
        border-radius: 30px;
        border: none;
        color: @white-color;
        .font('Nunito', normal, 700, 20px, 27px);
        text-transform: capitalize;
        margin-left: 20px;
        margin-bottom: 203px;
        &:hover {
            cursor: pointer;
        }
        &:active {
            background: linear-gradient(180deg, #C3E48F 0%, #8EC637 65%);
            box-shadow: 10px 10px 25px rgba(125, 181, 35, 0.3);
        }
    }
    & img {
        position: absolute;
    }
    & .ellipse {
        .ellipse;
    }
    & #up {
        display: none;
        width: 50px;
        height: 50px;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        border: none;
        outline: none;
        color: white;
        border-radius: 10px;
        background: linear-gradient(180deg, #FFA992 0%, #FF7852 65%);
        .font('Nunito', normal, 700, 20px, 27px);
    }
    & #up:hover {
        cursor: pointer;
    }
    & #up:active {
        background: linear-gradient(180deg, #FFA992 0%, #FF7852 65%);
        box-shadow: 10px 20px 35px rgba(255, 124, 84, 0.3);
    }
}
    
.second-block {
    width: @wrapper;
    background-color: @table-color;
    .margin-auto;
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    & section:first-of-type {
        text-align: center;
        display: block;
        padding: 100px 0 60px 0;
        & p {
            color:@orange-color;
            .font('Nunito', normal, 800, 20px, 27px);
        }
    }
    & h2 {
        color: @dark-blue-color;
        .font('Nunito', normal, 800, 64px, 87px);
    }
    & h3 {
        .font('Nunito', normal, 800, 26px, 35px);
        color: @dark-blue-color;
        margin-bottom: 20px;
    }
    
    & section {
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        padding-bottom: 100px;
        & #pet-grooming:hover {
            .background-grad(#B8DEFF,#1D97FF, 72, 171, 255, 0.25);
                & .first-circle {
                    .background-grad(white,white, 72, 171, 255, 0.25);
                    color: #1D97FF;
                }
                & h3 {
                    color:@white-color;
                }
                & p {
                    color:@white-color;
                }
        }
        & #veterinary:hover {
            .background-grad(#FFBBA9,#FF6236, 72, 171, 255, 0.25);
                & .second-circle {
                    .background-grad(white,white, 72, 171, 255, 0.25);
                    color: #FF6236;
                }
                & h3 {
                    color:@white-color;
                }
                & p {
                    color:@white-color;
                }
        }
        & #dog-setting:hover {
            .background-grad(#FFE4AA,#FF9C07, 72, 171, 255, 0.25);
                & .third-circle {
                    .background-grad(white,white, 72, 171, 255, 0.25);
                    color: #FF9C07;
                }
                & h3 {
                    color:@white-color;
                }
                & p {
                    color:@white-color;
                }
        }
        & #healthy-meals:hover {
            .background-grad(#AFE6EB,#36BECB, 72, 171, 255, 0.25);
                & .fourth-circle {
                    .background-grad(white,white, 72, 171, 255, 0.25);
                    color: #36BECB;
                }
                & h3 {
                    color:@white-color;
                }
                & p {
                    color:@white-color;
                }
        }
        & div {
            width: 20%;
            background-color: @white-color;
            border-radius: 30px;
            & p {
                .font('Quicksand', normal, normal, 18px, 28px);
                color: @gray-color;
                margin: 0 40px 50px 40px;
            }
        }
    }

    & .circle {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        .margin-auto;
        margin-top: 50px;
        margin-bottom: 35px;
        color: @white-color;
        & .fas {
            padding-top: 25px;
        }
    }
    & .first-circle {
        .background-grad(#B8DEFF,#1D97FF, 72, 171, 255, 0.25);
    }
    & .second-circle {
        .background-grad(#FFBBA9,#FF6236, 255, 122, 85, 0.3);
    }
    & .third-circle {
        .background-grad(#FFE4AA,#FF9C07, 250, 168, 45, 0.3);
    }
    & .fourth-circle {
        .background-grad(#AFE6EB,#36BECB, 17, 199, 217, 0.3);
    }
}
.third-block {
    width: 80%;
    .margin-auto;
    display: flex;
    margin-top: 104px;
    justify-content: space-evenly;
    & p:first-of-type {
        color:@orange-color;
        .font('Nunito', normal, 800, 20px, 27px);
        padding-top: 75px;
    }
    & p {
        .font('Quicksand', normal, normal, 18px, 30px);
        color: @gray-color;
    }
    & h2 {
        color: @dark-blue-color;
        .font('Nunito', normal, 800, 64px, 87px);
        margin: 10px 0 30px 0;
    }
    & li {
        .font('Nunito', normal, 600, 18px, 25px);
        color: @dark-blue-color;
        padding-top: 25px;
        & i {
            color: @orange-color;
            margin-right: 10px;
        }
    }
    & button {
        width: 268px;
        margin: 46px 0 49px 0;
    }
    & img:first-of-type {
        position: relative;
    }
    & img {
        position: absolute;
    }
    & .ellipse {
        .ellipse;
    }
}
.fourth-block {
    width: @wrapper;
    background-color: @table-color;
    .margin-auto;
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    margin-top: 130px;
    & section:first-of-type {
        text-align: center;
        display: block;
        padding: 100px 0 60px 0;
        & p {
            color:@orange-color;
            .font('Nunito', normal, 800, 20px, 27px);
        }
    }
    & h2 {
        color: @dark-blue-color;
        .font('Nunito', normal, 800, 64px, 87px);
    }
    & h3 {
        .font('Nunito', normal, 800, 24px, 33px);
        color: @dark-blue-color;
        margin: 30px 0 7px 0;
    }
    & section {
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        padding-bottom: 100px;
        & div {
            width: 20%;
            background-color: @white-color;
            border-radius: 30px;
            border-radius: 50%;
            & p {
                .font('Quicksand', normal, bold, 18px, 23px);
                color: @orange-color;
                margin: 0 40px 50px 40px;
            }
            & img {
                border-radius: 96px;
                margin-top: 50px;
            }
        }
    }
    & .first-circle {
        .background-grad(#B8DEFF,#1D97FF, 72, 171, 255, 0.25);
        
    }
    & .second-circle {
        .background-grad(#FFBBA9,#FF6236, 255, 122, 85, 0.3);
    }
    & .third-circle {
        .background-grad(#FFE4AA,#FF9C07, 250, 168, 45, 0.3);
    }
    & .fourth-circle {
        .background-grad(#AFE6EB,#36BECB, 17, 199, 217, 0.3);
    }
}
.fifth-block {
    width: 67%;
    display: flex;
    .margin-auto;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
    margin-bottom: 130px;
    text-align: center;
    position: relative;
    & h3 {
        color: @dark-blue-color;
        .font('Nunito', normal, 800, 28px, 38px); 
        padding: 60px 0 5px 0;
    }
    & h2 {
        color: @dark-blue-color;
        .font('Nunito', normal, 800, 50px, 68px); 
        margin-bottom: 25px;
    }
    & li {
        color: @gray-color;
        .font('Quicksand', normal, bold, 20px, 25px); 
        padding-top: 25px;
    }
    .exclusive {
        width: 36%;
        .background-grad(#FFFFFF,#FFFFFF, 217, 200, 193, 0.3);
        border-radius: 20px;
    }
    & section {
        .background-grad(#FFFFFF,#FFFFFF, 217, 200, 193, 0.3);
        border-radius: 20px 0 0 20px;
        width: 36%;
        & h2:last-of-type {
        color: @orange-color;
        margin: 50px 0 59px 0;
        & span {
            .font('Nunito', normal, 800, 20px, 27px); 
                }
        }
        & button {
            width: 214px;
            margin-bottom: 60px;
        }
        &:hover {
            background: linear-gradient(180deg, #FFA389 0%, #FF6439 100%);
            box-shadow: 0px 15px 40px rgba(255, 103, 61, 0.3);
            .white-color(h2);
            .white-color(h3);
            .white-color(li);
            & button {
                background: linear-gradient(180deg, white 0%, white 65%);
                box-shadow: 0px 10px 25px rgba(255, 124, 84, 0.3);
                color: #FF6439;
            }
            & button:active {
                background: linear-gradient(180deg, white 0%, white 65%);
                box-shadow: 10px 20px 35px rgba(255, 255, 255, 0.3);
            }
        }
    }
    & section:last-of-type {
        border-radius: 0 20px 20px 0;
    }
    & img {
        position: absolute;
    }
}
.sixth-block {
    display: flex;
    width: @wrapper;
    .margin-auto;
    background: #FFECE4;
    border-radius: 50px;
    justify-content: space-around;
    & section:first-of-type {
        width: 44%;
    }
    & h2 {
        .font('Nunito', normal, 800, 64px, 87px);
        color: #000000;
        margin: 102px 0 30px 0;
    }
    & p {
        .font('Quicksand', normal, normal, 18px, 30px);
        color: @gray-color;
        margin-bottom: 50px;
    }
    & button {
        width: 221px;
        margin-bottom: 102px;
    }
    & section:last-of-type {
        margin-top: 65px;
        margin-bottom: 39px;
        position: relative;
        z-index: 0;
        & .ellipse {
            .ellipse;
            background: #FF9E75;
        }
        & img:first-of-type {
            position: relative;
        }
        & img {
            position: absolute;
        }
    }
}
footer {
    width: 67%;
    .margin-auto;
    margin-top: 130px;
    position: relative;
    & p {
        .font('Quicksand', normal, normal, 18px, 22px);
        color: @gray-color;
        text-align: center;
        margin-bottom: 30px;
    }
    & section {
        display: flex;
        justify-content: space-between;
        & p {
            margin-top: 25px;
            margin-bottom: 30px;
            .font('Quicksand', normal, normal, 18px, 30px);
            color: @gray-color;
            text-align: left;
        }
        & h3 {
            color: @dark-blue-color;
            .font('Nunito', normal, 800, 28px, 38px);
            margin-bottom: 25px;
        }
        & li {
            .font('Quicksand', normal, normal, 18px, 22px);
            color: @gray-color;
            margin-bottom: 15px;
        }
        & div:first-of-type {
            width: 32%;
        }
        // & div {
        //     width: calc((1290px - 43%)/3);
        // }
        & form {
            display: inline-block;
            position: relative;
            margin-bottom: 130px;
            & input {
                width: 394px;
                height: 60px;
                background: #FFFFFF;
                box-shadow: 0px 12px 35px rgba(210, 197, 192, 0.25);
                border-radius: 30px;
                border: none;
                .font('Quicksand', normal, normal, 18px, 22px);
                color: @gray-color;
                padding-left: 30px;
                outline: none;
            }
            & .btn-footer {
                position: absolute;
                width: 143px;
                height: 50px;
                right: 0;
                margin: 5px;
            }
        }
        
    }
}