body {
  background-color: #FFF8F5;
}
.font-face-nunito {
  font-family: 'Nunito', sans-serif;
  src: url('../fonts/Nunito/static/Nunito-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
.font-face-quicksand {
  font-family: 'Quicksand', sans-serif;
  src: url('../fonts/Quicksand/static/Quicksand-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
.buttons {
  background: linear-gradient(180deg, #FFA992 0%, #FF7852 65%);
  box-shadow: 0px 10px 25px rgba(255, 124, 84, 0.3);
  border-radius: 30px;
  border: none;
  color: #FFF;
  font-family: 'Nunito', sans-serif;
  src: url('../fonts/Nunito/static/Nunito-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
header {
  display: flex;
}
